body{
    text-align: center;
    background-color: rgb(51, 129, 163);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

input,select,button{
    width: 250px;
    height: 30px;
    border-radius: 6px;
}
h1{
    color: white;
}
button{
    background-color: rgb(253, 255, 255);
    color: black;
}
button:hover{
    background-color:rgb(26, 120, 161);
    color: white;
}
footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}
#result{
    margin-top: 10px;
    color: white;
}